* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
  background-color: #f9f7f7;
  color: #1e1e2f;
  line-height: 1.6;
}

h1,
h2,
h3 {
  color: #1e3a8a;
}

/* ---- Navbar ---- */
.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #e0f0ff;
  padding: 0.5rem 3rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  z-index: 1000;
}

/* ----- Logo ----*/
.navbar h1 {
  font-family: Georgia, 'Times New Roman', Times, serif;
  font-weight: bold;
  padding: 15px;
  margin-left: 5rem;
}

.navbar ul {
  list-style: none;
  display: flex;
  gap: 1.5rem;
}

.navbar a {
  text-decoration: none;
  color: #1e3a8a;
  font-weight: bold;
  transition: color 0.3s;
}

.navbar a:hover {
  color: #2563eb;
}

/* ---- Home ---- */
.home {
  display: flex;
  flex-wrap: nowrap;
  padding: 9rem 3rem;
  align-items: center;
  justify-content: space-around;
  background-color: #f9fbfd;
}

.home-text {
  max-width: 600px;
  flex: 1;
}

.home-text h2 {
  font-size: 3.2rem;
  margin-bottom: 0.5rem;
}

.home-text span {
  color: #e11d48;
}

.home-text p {
  margin: 0.5rem 0;
  font-size: 1.1rem;
}
.home img {
  margin-bottom: 20px;
}
.home-img img {
  width: 400px;
  max-height: 400px;
  margin-bottom: 20px;
  border-radius: 60%;
  border: 4px solid #1e3a8a;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);


}

.social-links a {
  display: inline-block;
  margin: 0.5rem 1rem 0 0;
  text-decoration: none;
  color: #1e3a8a;
  border: 1px solid #1e3a8a;
  padding: 0.5rem 1rem;
  border-radius: 4px;
  transition: 0.3s;
}

.social-links a:hover {
  background-color: #1e3a8a;
  color: white;
}

/* ---- About ---*/
.about {
  padding: 9rem 20px;
  background: #f5f7fa;
  font-family: Arial, sans-serif;
}

.about-container {
  max-width: 1100px;
  margin: 0 auto;
  display: flex;
  align-items: center;
  gap: 40px;
}

.about-left img {
  width: 450px;
  height: auto;
  border-radius: 12px;
  object-fit: cover;
  box-shadow: 0 6px 18px rgba(0, 0, 0, 0.15);
}

.about-right {
  flex: 1;
  margin-left: 50px;
}

.about-right h2 {
  font-size: 28px;
  margin-bottom: 15px;

  color: #1e3a8a;
}

.about-right p {
  margin-bottom: 15px;
  line-height: 1.7;
  color: #444;
}

.about-right .highlight {
  color: #0077ff;
  font-weight: bold;
}

/* ----- Skills -----*/
.skills {
  padding: 8rem;
  text-align: center;
}

.skills h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.skill-boxes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 2rem;
  margin-top: 1.5rem;
}

.skill-card {
  background-color: #eff6ff;
  border: 2px solid transparent;
  border-radius: 8px;
  padding: 1rem;
  width: 120px;
  text-align: center;
  transition: transform 0.3s, border 0.3s;
}

.skill-card:hover {
  transform: translateY(-5px);
  border: 2px solid #2563eb;
}

.skill-card img {
  width: 60px;
  height: 60px;
}

/* ----Projects ----- */
.projects {
  padding: 8rem 2rem;
  background-color: #f0f0f4;
  text-align: center;
  color: #fff;
}

.projects h2 {
  font-size: 2rem;
  margin-bottom: 0.5rem;
}

.projects p {
  font-size: 1.1rem;
  margin-bottom: 2rem;
}

.project-container {
  display: flex;
  flex-wrap: wrap;
  gap: 2rem;
  justify-content: center;
  margin-top: 2rem;
}

.project-card {
  position: relative;
  background-color: #dde4f2;
  border-radius: 10px;
  overflow: hidden;
  width: 500px;
  color: #fff;
  text-align: left;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.3);
  transition: transform 0.3s ease;
}

.project-card:hover {
  transform: translateY(-10px);
}

.project-card img {
  width: 100%;
  height: 180px;
  object-fit: cover;
}

.project-card .project-content {
  padding: 1rem;
}

.project-card h3 {
  font-size: 1.5rem;
  margin-bottom: 0.3rem;
}

.project-card p {
  font-size: 0.95rem;
  margin-bottom: 1rem;
  color: #000;
}

.view-btn {
  display: inline-block;
  background-color: #1e3a8a;
  color: #faf9f9;
  font-weight: bold;
  padding: 0.5rem 1rem;
  border-radius: 5px;
  text-decoration: none;
  transition: background-color 0.3s;
}

.view-btn:hover {
  background-color: #2563eb;
}

/*----contact-----*/
.contact {
  background-color: #dde4f2;
  color: #264c72;
  padding: 4rem 2rem;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 2rem;
}

.contact-form,
.contact-info {
  flex: 1;
  min-width: 300px;
}

.contact-form h3 {
  font-size: 1.8rem;
  margin-bottom: 1rem;
}

.contact-form input,
.contact-form textarea {
  width: 100%;
  padding: 0.75rem;
  margin-bottom: 1rem;
  border: none;
  border-radius: 8px;
  background-color: #d6dce4;
  color: #111315;
}

.contact-form button {
  background-color: #6366f1;
  color: #ffff;
  border: none;
  padding: 0.75rem 1.5rem;
  border-radius: 4rem;
  font-size: 1rem;
  cursor: pointer;

}

.contact-form button:hover {
  background-color: #1e3a8a;
}

.contact-info h4 {
  margin: 1rem 0 0.5rem;
  font-size: 1.2rem;
  color: #33298d;
}

.contact-info {
  margin-left: 10rem;
}

.contact-info p {
  font-size: 0.95rem;
  color: #101213;
  margin-bottom: 0.5rem;
}

/* ----footer----*/
footer {
  background-color: #e0f0ff;
  padding: 1rem;
  text-align: center;
  font-size: 0.9rem;
  color: #333;
}

/* ----Responsive Design---- */

@media (max-width: 768px) {
  /* ----Navbar---- */
  .navbar {
    flex-direction: column;
    padding: 1rem;
    text-align: center;
  }

  .navbar h1 {
    margin: 0;
    padding: 0.5rem 0;
    font-size: 1.3rem;
  }

  .navbar ul {
    flex-direction: column;
    gap: 0.8rem;
    margin-top: 0.5rem;
  }

  /* ----Home Section---- */
  .home {
    flex-direction: column;
    padding: 20rem 1.5rem;
    text-align: center;
  }

  .home-text h2 {
    font-size: 2rem;
  }

  .home-img img {
    max-width: 250px;
    margin-top: 1.5rem;
  }

  /* ----About Section---- */
  .about-container {
    flex-direction: column;
    text-align: center;
    gap: 10px;
  }

  .about-left img {
    width: 90%;
    max-width: 350px;
  }

  .about-right {
    margin-left: 0;
  }

  /* ----Skills---- */
  .skills {
    padding: 4rem 1rem;
  }

  .skill-card {
    width: 100px;
    padding: 0.8rem;
  }

  .skill-card img {
    width: 50px;
    height: 50px;
  }

  /* ----Projects---- */
  .project-container {
    flex-direction: column;
    align-items: center;
  }

  .project-card {
    width: 100%;
    max-width: 350px;
  }

  .project-card img {
    height: 150px;
  }

  /* ----Contact---- */
  .contact {
    flex-direction: column;
    text-align: center;
    padding: 3rem 1rem;
  }

  .contact-info {
    margin-left: 0;
  }

  .contact-form input,
  .contact-form textarea {
    font-size: 0.9rem;
  }

  .contact-form button {
    width: 100%;
  }

  /* ----Footer---- */
  footer {
    font-size: 0.8rem;
  }
}

/* ---Smaller screens (phones under 480px) ----*/
@media (max-width: 480px) {
  .home-text h2 {
    font-size: 1.6rem;
  }

  .home-text p {
    font-size: 1rem;
  }

  .skill-card {
    width: 90px;
    padding: 0.6rem;
  }

  .project-card h3 {
    font-size: 1.2rem;
  }

  .project-card p {
    font-size: 0.85rem;
  }
}

